server:
  port: ${PORT:8888}

spring:
  application:
    name: config-server
  cloud:
    config:
      server:
        git:
          uri: https://github.com/AguRivarola/esp-back-i-parcial-Agustin-Rivarola
          default-label: develop
          force-pull: true
          search-path: config-data
